@using Asoode.Main.Core.Contracts.General
@using Asoode.Main.Core.Helpers
@inject ITranslateBiz translate
@model Asoode.Main.Core.ViewModel.Blog.BlogResultViewModel
@{
    ViewData.Add("PAGE_TITLE", Model.Blog.Title);
    ViewData.Add("PAGE_DESCRIPTION", Model.Blog.Description);
    var counter = 1;
}
<div class="page-blog pg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="summary">@Model.Blog.Description</h2>
            </div>
        </div>
        @foreach (var post in Model.Posts.Items)
        {
            <section class="row post @(counter++ == 1 ? "large" : "")">
                <div class="col-md-6">
                    <a title="@post.Title" href="@post.Permalink">
                        <img src="https://i.picsum.photos/id/591/536/354.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-6">
                    <a title="@post.Title" href="@post.Permalink">
                        <h2>@post.Title</h2>
                    </a>
                    <h3>@(string.IsNullOrEmpty(post.Summary) ? post.Description : post.Summary)</h3>
                    <div class="info">
                        <span class="name">Navid Kianfar</span>&nbsp;
                        <span class="date">@DateHelper.Format(post.CreatedAt, null, ViewBag.Lang)</span>
                    </div>
                </div>
            </section>
        }
        
        @if (Model.Posts.TotalPages > 1)
        {
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="/@ViewBag.Lang/blog">
                    @translate.Get("FIRST_PAGE", ViewBag.Lang)
                </a></li>
                @for (int p = 1; p < Model.Posts.TotalPages; p++)
                {
                    <li class="page-item"><a class="page-link" href="/@ViewBag.Lang/blog/?page=@p">@p</a></li>
                }
                <li class="page-item"><a class="page-link" 
                                         href="/@ViewBag.Lang/blog/?page=@Model.Posts.TotalPages">
                    @translate.Get("LAST_PAGE", ViewBag.Lang)
                </a></li>
            </ul>
        }
    </div>
</div>