<!DOCTYPE html>
@using Asoode.Core.Contracts.General
@{ Layout = ""; }
@inject ITranslateBiz translate
<html dir="@ViewBag.Direction" lang="@ViewBag.Lang">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@translate.Get("HOME_PAGE_TITLE")</title>
    <link rel="stylesheet" href="~/stylesheets/bootstrap.@(ViewBag.Direction).min.css"/>
    <link rel="stylesheet" href="~/stylesheets/site.css"/>
</head>
<body class="home-page lang-@ViewBag.Lang dir-@ViewBag.Direction">
 <div class="image-container"> 
     <div class="header"> 
         <div class="box"> 
             <div class="logo"> 
                 <a href="/"> 
                     <img src="/images/asoode-logo.svg" alt="logo"> 
                 </a> 
             </div> 
             <a class="link" href="/@ViewBag.Lang/why"> 
                 @translate.Get("WHY_ASOODE") 
             </a> 
             <a class="link" href="/@ViewBag.Lang/plans"> 
                 @translate.Get("PLANS") 
             </a> 
             <a class="link" href="/@ViewBag.Lang/about"> 
                 @translate.Get("ABOUT_US") 
             </a> 
         </div> 
         <div class="box"> 
             <a class="link" href="https://panel.asoode.com/login"> 
                 @translate.Get("LOGIN") 
             </a> 
             <a class="link bordered" href="https://panel.asoode.com/register"> 
                 @translate.Get("REGISTER") 
             </a> 
         </div> 
     </div> 
 
     <div class="summary"> 
         <h1>@translate.Get("EVERY_THING_YOU_NEED")</h1> 
         <h2>@translate.Get("SUMMARY")</h2> 
     </div> 
 
     <div class="join"> 
         <a href="https://panel.asoode.com/register"> 
             @translate.Get("JOIN_NOW") 
         </a> 
     </div> 
 
     <div class="slider"> 
 
     </div> 
 </div> 
 <div class="wrapper"> 
     <h3>@translate.Get("BE_ASOODE")</h3> 
     <h4>@translate.Get("BE_ASOODE_DESCRIPTION")</h4> 
 
     <div class="section-1"> 
         <div class="box"> 
             <div class="ico"> 
                 <i class="icon-android"></i> 
             </div> 
             <div class="title">@translate.Get("IN_ONE_PLACE")</div> 
             <div class="description">@translate.Get("IN_ONE_PLACE_DESCRIPTION")</div> 
         </div> 
         <div class="box"> 
             <div class="ico"> 
                 <i class="icon-android"></i> 
             </div> 
             <div class="title">@translate.Get("MANAGE_EMPLOYEE")</div> 
             <div class="description">@translate.Get("MANAGE_EMPLOYEE_DESCRIPTION")</div> 
         </div> 
         <div class="box"> 
             <div class="ico"> 
                 <i class="icon-android"></i> 
             </div> 
             <div class="title">@translate.Get("TRACK_PROGRESS")</div> 
             <div class="description">@translate.Get("TRACK_PROGRESS_DESCRIPTION")</div> 
         </div> 
     </div> 
 </div> 
 <div class="features"> 
     <section class="feature"> 
         <div class="info"> 
             <h4 class="title">@translate.Get("FEATURE_WBS")</h4> 
             <h5 class="description">@translate.Get("FEATURE_WBS_DESCRIPTION")</h5> 
         </div> 
         <div class="image"> 
             <img src="/images/wbs.png" alt="temp"> 
         </div> 
     </section> 
     <section class="feature"> 
         <div class="info"> 
             <h4 class="title">@translate.Get("FEATURE_WP")</h4> 
             <h5 class="description">@translate.Get("FEATURE_WP_DESCRIPTION")</h5> 
         </div> 
         <div class="image"> 
             <img src="/images/cards.png" alt="temp"> 
         </div> 
     </section> 
     <section class="feature"> 
         <div class="info"> 
             <h4 class="title">@translate.Get("FEATURE_BOT")</h4> 
             <h5 class="description">@translate.Get("FEATURE_BOT_DESCRIPTION")</h5> 
         </div> 
         <div class="image"> 
             <img src="/images/messenger-bot.png" alt="temp"> 
         </div> 
     </section> 
     <section class="feature"> 
         <div class="info"> 
             <h4 class="title">@translate.Get("FEATURE_TS")</h4> 
             <h5 class="description">@translate.Get("FEATURE_TS_DESCRIPTION")</h5> 
         </div> 
         <div class="image"> 
             <img src="/images/timespent.png" alt="temp"> 
         </div> 
     </section> 
     <section class="feature"> 
         <div class="info"> 
             <h4 class="title">@translate.Get("FEATURE_DASHBOARD")</h4> 
             <h5 class="description">@translate.Get("FEATURE_DASHBOARD_DESCRIPTION")</h5> 
         </div> 
         <div class="image"> 
             <img src="/images/dashboard.png" alt="temp"> 
         </div> 
     </section> 
     <section class="feature"> 
         <div class="info"> 
             <h4 class="title">@translate.Get("FEATURE_HOLDING")</h4> 
             <h5 class="description">@translate.Get("FEATURE_HOLDING_DESCRIPTION")</h5> 
         </div> 
         <div class="image"> 
             <img src="/images/holding.png" alt="temp"> 
         </div> 
     </section> 
 </div> 
<div class="applications">
    <h4>@translate.Get("ASOODE_APPLICATIONS")</h4>
    <div class="boxes">
        <div class="box">
            <div class="title">
                <i class="icon-download4"></i>
                <span>@translate.Get("DOWNLOAD_PWA")</span>
            </div>
            <div class="image">
                <a href="#">
                    <i class="icon-www"></i>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="title">
                <i class="icon-download4"></i>
                <span>@translate.Get("DOWNLOAD_DESKTOP")</span>
            </div>
            <div class="image">
                <a href="#">
                    <i class="icon-www"></i>
                </a>
                <a href="#">
                    <i class="icon-www"></i>
                </a>
                <a href="#">
                    <i class="icon-www"></i>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="title">
                <i class="icon-download4"></i>
                <span>@translate.Get("DOWNLOAD_NATIVE")</span>
            </div>
            <div class="image">
                <a href="#">
                    <i class="icon-android"></i>
                </a>
                <a href="#">
                    <i class="icon-appleinc"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="your-work">
    <h4>@translate.Get("ASOODE_FOR_YOUR_WORK")</h4>
    <div class="owl-carousel boxes">
        <div class="box">
            <i class="ico icon-android"></i>
            <h5>@translate.Get("ORGANIZATIONS")</h5>
            <h6>@translate.Get("ORGANIZATIONS_DESCRIPTION")</h6>
            <i class="bg icon-android"></i>
        </div>
        <div class="box">
            <i class="ico icon-android"></i>
            <h5>@translate.Get("STARTUPS")</h5>
            <h6>@translate.Get("STARTUPS_DESCRIPTION")</h6>
            <i class="bg icon-android"></i>
        </div>
        <div class="box">
            <i class="ico icon-android"></i>
            <h5>@translate.Get("CONSULATES")</h5>
            <h6>@translate.Get("CONSULATES_DESCRIPTION")</h6>
            <i class="bg icon-android"></i>
        </div>
        <div class="box">
            <i class="ico icon-android"></i>
            <h5>@translate.Get("DOCTORS")</h5>
            <h6>@translate.Get("DOCTORS_DESCRIPTION")</h6>
            <i class="bg icon-android"></i>
        </div>
        <div class="box">
            <i class="ico icon-android"></i>
            <h5>@translate.Get("INSTITUTES")</h5>
            <h6>@translate.Get("INSTITUTES_DESCRIPTION")</h6>
            <i class="bg icon-android"></i>
        </div>
    </div>
</div>
<div class="from-today">
    <h4>@translate.Get("FROM_TODAY_JOIN")</h4>
    <div class="join">
        <a href="https://panel.asoode.com/register">
            @translate.Get("JOIN_NOW")
        </a>
    </div>
    <h5>@translate.Get("THOSE_JOINED")</h5>
    
    <div class="customers">
        <a href="#">
            <img src="/images/adam-o-hava.png" alt="">
        </a>
        <a href="#">
            <img src="/images/artwich.png" alt="">
        </a>
        <a href="#">
            <img src="/images/axess-logo.png" alt="">
        </a>
        <a class="mashverapp" href="#">
            <img src="/images/mashver-app.png" alt="">
        </a>
        <a href="https://maxduel.com">
            <img src="/images/max-duel.png" alt="">
        </a>
    </div>
    
</div>
<div class="others-say">
    <h4>@translate.Get("WHAT_OTHERS_SAY")</h4>
</div>
<div class="footer">
    
</div>

<script src="/scripts/jquery-3.4.1.min.js"></script>
<script src="/scripts/jquery.visible.min.js"></script>
<script src="/scripts/owl.carousel.min.js"></script>
<script src="/scripts/site.js"></script>
</body>
</html>