@using Asoode.Main.Core.Contracts.General
@using Asoode.Main.Core.Primitives.Enums
@inject ITranslateBiz translate
@model Asoode.Main.Core.ViewModel.Membership.PlanViewModel[]
@{
    ViewData.Add("PAGE_TITLE", translate.Get("PAGE_PLANS_TITLE"));
    ViewData.Add("PAGE_DESCRIPTION", translate.Get("PAGE_PLANS_DESCRIPTION"));
}
<div class="page-plans pg">
<div class="container-fluid">
<div class="row header">
    <div class="col-md-12">
        <i class="icon-trophy4"></i>
        <h2>@translate.Get("PAGE_PLANS_SUMMARY")</h2>
    </div>
</div>
<div class="row">
<div class="col-md-12">
<table>
<thead>
<tr>
    <th></th>
    @foreach (var plan in Model)
    {
        <th>
            <div class="title">@translate.Get(plan.Title)</div>
            @if (plan.Type == PlanType.Free)
            {
                <div class="price">@translate.Get("FREE")</div>
                <div class="price-unit">
                    @translate.Get("FOREVER")
                </div>
            }
            else
            {
                <div class="price">@($"{plan.PlanCost:n0}")</div>
                <div class="price-unit">
                    @translate.Get("TOMAN")&nbsp;/&nbsp;
                    @plan.Days&nbsp;@translate.Get("DAYS")
                </div>
                <button>@translate.Get("CHOOSE")</button>
            }

        </th>
    }
</tr>
</thead>
<tbody>
<tr>
    <td>@translate.Get("USERS")</td>
    @foreach (var plan in Model)
    {
        <td>@plan.Users</td>
    }
</tr>
<tr>
    <td>@translate.Get("SIMPLE_GROUP")</td>
    @foreach (var plan in Model)
    {
        <td>@plan.SimpleGroup</td>
    }
</tr>
<tr>
    <td>@translate.Get("SIMPLE_PROJECT")</td>
    @foreach (var plan in Model)
    {
        <td>@plan.SimpleProject</td>
    }
</tr>
<tr>
    <td>@translate.Get("COMPLEX_GROUP")</td>
    @foreach (var plan in Model)
    {
        <td>@plan.ComplexGroup</td>
    }
</tr>
<tr>
    <td>@translate.Get("COMPLEX_PROJECT")</td>
    @foreach (var plan in Model)
    {
        <td>@plan.ComplexProject</td>
    }
</tr>
<tr>
    <td>@translate.Get("DISK_SPACE")</td>
    @foreach (var plan in Model)
    {
        <td>@($"{plan.DiskSpace / 1024 / 1024:n0}") MB</td>
    }
</tr>
<tr>
    <td>@translate.Get("ATTACHMENT_SIZE")</td>
    @foreach (var plan in Model)
    {
        <td>@($"{plan.AttachmentSize / 1024 / 1024:n0}") MB</td>
    }
</tr>

<tr>
    <td>@translate.Get("FEATURE_CHAT")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureChat ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_FILES")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureFiles ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_CALENDAR")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureCalendar ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_WBS")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureWbs ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_ROAD_MAP")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureRoadMap ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_TREE")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureTree ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_OBJECTIVES")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureObjectives ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_SEASON")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureSeasons ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_CUSTOM_FIELD")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureCustomField ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_VOTE")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureVote ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_SUB_TASK")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureSubTask ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_BLOCKING")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureBlocking ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_RELATED")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureRelated ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_TIME_SPENT")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureTimeSpent ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_TIME_OFF")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureTimeOff ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_SHIFT")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureShift ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_REPORTS")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureReports ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_PAYMENTS")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeaturePayments ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_TIME_VALUE")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureTimeValue ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
<tr>
    <td>@translate.Get("FEATURE_KARTABL")</td>
    @foreach (var plan in Model)
    {
        <td class="ico">
            <i class="@(plan.FeatureKartabl ? "icon-checkmark3" : "icon-blocked")"></i>
        </td>
    }
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>