@using Asoode.Core.Contracts.General
@inject ITranslateBiz translate
@{
    ViewData.Add("PAGE_TITLE", translate.Get("PAGE_PLANS_TITLE"));
    ViewData.Add("PAGE_DESCRIPTION", translate.Get("PAGE_PLANS_DESCRIPTION"));
}
<div class="page-plans pg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <i class="icon-trophy4"></i>
                <h1>@translate.Get("PAGE_PLANS_SUMMARY")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>
                            <div class="title">Plan #1</div>
                            <div class="price">@translate.Get("FREE")</div>
                            <div class="price-unit">
                                @translate.Get("FOREVER")
                            </div>
                        </th>
                        <th>
                            <div class="title">Plan #1</div>
                            <div class="price">10,000</div>
                            <div class="price-unit">
                                @translate.Get("TOMAN")&nbsp;/&nbsp;
                                10&nbsp;@translate.Get("DAYS")
                            </div>
                            <button>@translate.Get("CHOOSE")</button>
                        </th>
                        <th>
                            <div class="title">Plan #1</div>
                            <div class="price">10,000</div>
                            <div class="price-unit">
                                @translate.Get("TOMAN")&nbsp;/&nbsp;
                                10&nbsp;@translate.Get("DAYS")
                            </div>
                            <button>@translate.Get("CHOOSE")</button>
                        </th>
                        <th>
                            <div class="title">Plan #1</div>
                            <div class="price">10,000</div>
                            <div class="price-unit">
                                @translate.Get("TOMAN")&nbsp;/&nbsp;
                                10&nbsp;@translate.Get("DAYS")
                            </div>
                            <button>@translate.Get("CHOOSE")</button>
                        </th>
                        <th>
                            <div class="title">Plan #1</div>
                            <div class="price">10,000</div>
                            <div class="price-unit">
                                @translate.Get("TOMAN")&nbsp;/&nbsp;
                                10&nbsp;@translate.Get("DAYS")
                            </div>
                            <button>@translate.Get("CHOOSE")</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    <tr>
                        <td>@translate.Get("USERS")</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                        <td>15GB</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>