<?xml version="1.0" encoding="UTF-8"?>
@using Asoode.Main.Core.Contracts.General
@inject ISeoBiz seoBiz
@{
    Layout = null;
    var rss = await seoBiz.Rss();
}
<rss version="2.0">
    
    <channel>
        <title> @rss.Title </title>
        @Html.Raw("<link>") @rss.Link @Html.Raw("</link>")
        <description>@rss.Description</description>
        @foreach (var post in rss.Items)
        {
            <item>
                <title> @post.Title </title>
                @Html.Raw("<link>") @post.Link @Html.Raw("</link>")
                <description>@post.Description</description>
            </item>
        }
    </channel>
    
</rss>