@using Asoode.Main.Core.Contracts.General
@inject ITranslateBiz translate
@{
    ViewData.Add("PAGE_TITLE", translate.Get("PAGE_WHY_TITLE", ViewBag.Lang));
    ViewData.Add("PAGE_DESCRIPTION", translate.Get("PAGE_WHY_DESCRIPTION", ViewBag.Lang));
}
<div class="page-why pg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>
                            <img src="/images/brands/as-ico.png" alt="">
                            <div class="name">@translate.Get("ASOODE", ViewBag.Lang)</div>
                        </th>
                        <th>
                            <img src="/images/brands/tr-ico.png" alt="">
                            <div class="name">@translate.Get("TRELLO", ViewBag.Lang)</div>
                        </th>
                        <th>
                            <img src="/images/brands/tk-ico.png" alt="">
                            <div class="name">@translate.Get("TASKULU", ViewBag.Lang)</div>
                        </th>
                        <th>
                            <img src="/images/brands/tc-ico.png" alt="">
                            <div class="name">@translate.Get("TEAM_CAMP", ViewBag.Lang)</div>
                        </th>
                        <th>
                            <img src="/images/brands/bn-ico.png" alt="">
                            <div class="name">@translate.Get("BALONET", ViewBag.Lang)</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@translate.Get("FEATURE_CHAT", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_FILES", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_CALENDAR", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_BREAK", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_ROAD_MAP", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_TREE", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_OBJECTIVES", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_SEASON", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_CUSTOM_FIELD", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_VOTE", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_SUB_TASK", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_BLOCKING", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_RELATED", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_TIME_SPENT", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_COMPLEX_GROUP", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_GROUP_TIME_SPENT", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_REPORTS", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_TIME_OFF", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_SHIFT", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @* <tr> *@
                    @*     <td>@translate.Get("FEATURE_PAYMENTS", ViewBag.Lang)</td> *@
                    @*     <td class="ico"><i class="icon-checkmark3"></i></td> *@
                    @*     <td></td> *@
                    @*     <td></td> *@
                    @*     <td></td> *@
                    @*     <td></td> *@
                    @* </tr> *@
                    <tr>
                        <td>@translate.Get("FEATURE_TIME_VALUE", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_KARTABL", ViewBag.Lang)</td>
                        <td class="ico"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>@translate.Get("HOW_ASOODE_WORKS", ViewBag.Lang)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="video-container">
                    
                </div>
            </div>
        </div>
    </div>
</div>