@using Asoode.Main.Core.Contracts.General
@inject ITranslateBiz translate
@{
    ViewData.Add("PAGE_TITLE", translate.Get("PAGE_WHY_TITLE"));
    ViewData.Add("PAGE_DESCRIPTION", translate.Get("PAGE_WHY_DESCRIPTION"));
}
<div class="page-why pg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>
                            <img src="/images/brands/as-ico.png" alt="">
                            <div class="name">@translate.Get("ASOODE")</div>
                        </th>
                        <th>
                            <img src="/images/brands/tr-ico.png" alt="">
                            <div class="name">@translate.Get("TRELLO")</div>
                        </th>
                        <th>
                            <img src="/images/brands/tk-ico.png" alt="">
                            <div class="name">@translate.Get("TASKULU")</div>
                        </th>
                        <th>
                            <img src="/images/brands/tc-ico.png" alt="">
                            <div class="name">@translate.Get("TEAM_CAMP")</div>
                        </th>
                        <th>
                            <img src="/images/brands/bn-ico.png" alt="">
                            <div class="name">@translate.Get("BALONET")</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@translate.Get("FEATURE_CHAT")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_FILES")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_CALENDAR")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_WBS")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_ROAD_MAP")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_TREE")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_OBJECTIVES")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_SEASON")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_CUSTOM_FIELD")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_VOTE")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_SUB_TASK")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_BLOCKING")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_RELATED")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_TIME_SPENT")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_COMPLEX_GROUP")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_GROUP_TIME_SPENT")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_TIME_OFF")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_SHIFT")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_REPORTS")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_PAYMENTS")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_TIME_VALUE")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@translate.Get("FEATURE_KARTABL")</td>
                        <td class="icon"><i class="icon-checkmark3"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>@translate.Get("HOW_ASOODE_WORKS")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="video-container">
                    
                </div>
            </div>
        </div>
    </div>
</div>