@using Asoode.Core.Contracts.General
@inject ITranslateBiz translate
@{
    ViewData.Add("PAGE_TITLE", translate.Get("PAGE_WHY_TITLE"));
    ViewData.Add("PAGE_DESCRIPTION", translate.Get("PAGE_WHY_DESCRIPTION"));
}
<div class="page-why pg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>
                            <img src="/images/brands/as-ico.png" alt="">
                            <div class="name">@translate.Get("ASOODE")</div>
                        </th>
                        <th>
                            <img src="/images/brands/tr-ico.png" alt="">
                            <div class="name">@translate.Get("TRELLO")</div>
                        </th>
                        <th>
                            <img src="/images/brands/tk-ico.png" alt="">
                            <div class="name">@translate.Get("TASKULU")</div>
                        </th>
                        <th>
                            <img src="/images/brands/tc-ico.png" alt="">
                            <div class="name">@translate.Get("TEAM_CAMP")</div>
                        </th>
                        <th>
                            <img src="/images/brands/bn-ico.png" alt="">
                            <div class="name">@translate.Get("BALONET")</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>FEATURE #1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FEATURE #2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FEATURE #3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FEATURE #4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FEATURE #5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FEATURE #6</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FEATURE #7</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>@translate.Get("HOW_ASOODE_WORKS")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="video-container">
                    
                </div>
            </div>
        </div>
    </div>
</div>