@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@{
    var modifiedDate = (DateTime)(ViewData["PAGE_UPDATE_TIME"] ?? DateTime.Now.AddDays(-1).Date);
    var createdDate = (DateTime)(ViewData["PAGE_CREATE_TIME"] ?? new DateTime(2020, 6, 13));
}
<meta charset="utf-8"/>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no"/>
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<meta property="og:type" content="article" /> 
<meta property="og:title" content="@ViewData["PAGE_TITLE"]" />
<meta property="og:url" content="https://@configuration["Setting:Domain"]/@configuration["Setting:I18n:Default"]/" />
<meta property="og:site_name" content="Asoode" />
<meta property="og:updated_time" content="@modifiedDate.ToString("o")" />
<meta property="article:publisher" content="https://facebook.com/Asoode" />
<meta property="article:published_time" content="@createdDate.ToString("o")" />
<meta property="article:modified_time" content="@modifiedDate.ToString("o")" />
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="@ViewData["PAGE_TITLE"]" />
<meta name="twitter:description" content="@ViewData["PAGE_DESCRIPTION"]">
<meta name="twitter:site" content="@@asoode">
<meta name="twitter:creator" content="@@nvdknfr">
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
<meta name="description" content="@ViewData["PAGE_DESCRIPTION"]">
@* <meta property="fb:app_id" content="1711491389121582" /> *@
@* <link rel="alternate" hreflang="en" href="@configuration["Setting:Domain"]" /> *@
@* <link rel="alternate" hreflang="fa" href="@configuration["Setting:Domain"]/fa/" /> *@
<link rel="canonical" href="https://@configuration["Setting:Domain"]/@configuration["Setting:I18n:Default"]/" />
<link rel="alternate" type="application/rss+xml" title="Asoode Feed" href="https://@configuration["Setting:Domain"]/rss.xml" />
<link rel='shortlink' href='https://@configuration["Setting:Domain"]/@configuration["Setting:I18n:Default"]/' />
<title>@ViewData["PAGE_TITLE"]</title>